<!--
    We have to know that when we add a new Product we have to send our data to the Product class so we have to add it in the
    Model so the next line of code use the Product class with model to use it in our code.
    We don't have to return the new object of the Product from inside the IActionResult Create method as we alread uses here a 
    Product class, so we don't have to retrun it as it will make a new object by default.
-->
@model Product

<div class="card shadow  border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row-height">
            <div class="col-12 text-center ">
                <h2 class="text-white py-1">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-2">
        <form method="post" class="row">
            <div class="border p-3 mt-7">
                <div class="row pb-2">
                    <hr />
                </div>
                <div class="mb-3">
                    <label class="bold">Product Name</label>
                    <!--
                        Now to specifie the submitting data distenation then we have to use asp-for attribute which accept the data and pass
                        it for a specific attribute in the class inside the model.
                    -->
                    <input asp-for="Title" class="form-control bold row-height" />
                    <!--
                        In the next line of code we will check the validation data in the view also we check the validated data in control
                         this will give us the ability to check data in front end and backend.
                    -->
                    <span asp-validation-for="Title" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Author</label>
                    <input asp-for="Author" class="form-control bold row-height" />
                    <span asp-validation-for="Author" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Description</label>
                    <textarea asp-for="Description" class="form-control bold" rows="6"></textarea> 
                    <span asp-validation-for="Description" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Category</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select bold row-height">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger bold"></span>
                <div class="mb-3">
                    <label class="bold">ISBN</label>
                    <input asp-for="ISBN" class="form-control bold row-height" />
                    <span asp-validation-for="ISBN" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Price</label>
                    <input asp-for="Price" class="form-control bold row-height" />
                    <span asp-validation-for="Price" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Price 50+</label>
                    <input asp-for="Price50" class="form-control bold row-height" />
                    <span asp-validation-for="Price50" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">Price 100+</label>
                    <input asp-for="Price100" class="form-control bold row-height" />
                    <span asp-validation-for="Price100" class="text-danger bold"></span>
                </div>
                <div class="mb-3">
                    <label class="bold">List Price</label>
                    <input asp-for="ListPrice" class="form-control bold row-height" />
                    <span asp-validation-for="ListPrice" class="text-danger bold"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-success form-control rounded-3"><strong>Create</strong></button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-dark form-control rounded-3"><strong>Back</strong></a>
                    </div>
                </div>




            </div>
        </form>
    </div>
</div>
<!--
    We have to know that the form in html has a method attribute which accept two different values 
    - Get: This method appends the form data to the URL in the form of query parameters. It is suitable for forms that
             retrieve data from the server, and the data is visible in the URL.
    - Post: This method sends the form data to the server in the request body. It is suitable for forms that submit sensitive  
            or large amounts of data, and the data is not visible in the URL.
-->

<!--
    In the following Section we make a scripts section to check the client validation and check all the validation in the 
    client side instead of doing it in the server side.
-->
@section scripts{
    @{
        <partial name = "_ValidationScriptsPartial" />
    }
}
